@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.App {
  padding-top: 2rem;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background: rgb(212,212,210);
  background: radial-gradient(circle, rgba(212,212,210,1) 0%, rgba(81,81,81,1) 0%, rgba(104,104,104,1) 37%, rgba(80,80,80,1) 71%, rgba(106,106,106,1) 100%, rgba(28,28,28,1) 100%); */
}

#calculator {
  width: 35% !important;
  position: relative;
  right: 8px;
  font-family: 'Zen Dots', cursive;
}

#title {
  text-align: center;
  padding-left: 20px;
  color: #D4D4D2;
}

.display {
  width: 100% !important;
  height: 75px;
  margin: 0;
  padding: 0;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; */
  /* background: #1C1C1C; */
  overflow: visible;
}

#output, .input {
  height: 50%;
  width: 100% !important;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-grow: inherit;
  align-items: center;
  position: relative;
  padding: 5px 10px;
  background: #1C1C1C; 
  color: #D4D4D2;
  font-size: 18px;
  overflow: visible;
}

#output{
  border-radius: 10px 10px 0px 0px;
}

#clear {
  grid-area: clear;
}

#calculator-buttons {
  font-family: 'Zen Dots', cursive;
  width: 100% !important;
	height: fit-content;
	/* grid-template-columns: 1fr 1fr 1fr 1fr; 
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 70px 70px 70px 70px 70px; 
  grid-template-areas: 
    "clear clear  openBracket closeBracket"
    "seven eight nine subtract"
    "four five six add"
    "one two three multiply"
    "zero decimal equals divide";
  row-gap: 5px;
  column-gap: 5px;
  padding: 5px 10px;
  margin-top: 15px;
  background: #1C1C1C; 
  border-radius: 0px 0px 10px 10px;
}

.btn, .btn:active {
  cursor: pointer;
  border: 2px solid #1C1C1C;
  border-radius: 10px;
  outline: 0;
  font-size: 18px;
  font-family: 'Zen Dots', cursive !important;
}

#clear, #openBracket, #closeBracket {
  background: #D4D4D2;
}

#seven, #eight, #nine,
#four, #five, #six,
#one, #two, #three,
#zero, #decimal {
  background: #505050;
  color: #D4D4D2;
}

#subtract, #add, #multiply, #equals, #divide {
  background: #FF9500;
  color: #D4D4D2;
}

.pre-name {
  margin-top: 10px;
  color: #1C1C1C;
}

#myName {
  margin-top: 0px;
  color: #D4D4D2;
}

@media screen and (max-width: 668px) {
  #output, .input {
    font-size: 14px;
  }
}